@charset "UTF-8";

.container {
	width: 1000px;	
	margin: 0 auto;
	position: relative;
}

.f-item:not(:first-child) {	
	border-top: 1px solid #dbdbdb;
}

.f-item {
	padding: 30px 0;
	width: 100%;
	height: 320px;	
	display: flex;
	padding: 3px;
	margin: 2% auto;
}

.f-item .img {
	width: 300px;
	height: 100%;
}

.f-item .img img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.f-item .ctnt {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.f-item .ctnt .top {
	height: 100px;
	display: flex;
	padding: 5px 5px 5px 30px;
}

.f-item .ctnt .bottom {
	flex-grow: 1;
	padding: 5px;
}

.f-item .ctnt .top .f-title {
	flex-grow: 1;
}

.f-item .ctnt .top .f-title .nm {
	font-size: 2rem;
}

.f-item .ctnt .top .f-fav {
	width: 100px;
}
.f-item .ctnt .top .f-fav .material-icons{
	font-size: 2rem;
	color: red;
}
.f-item .ctnt .bottom{
	overflow-x: hidden;
	display: flex;
	margin-left: 30px; 
}
.f-item .ctnt .bottom .recMenuItem{
	width: 110px;
}
.f-item .ctnt .bottom .recMenuItem:not(:first-child){
	margin-left: 5px;
}
.f-item .ctnt .bottom .recMenuItem .pic{
	width: 100%;
	height: 75%;
}
.f-item .ctnt .bottom .recMenuItem img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.f-item .ctnt .bottom .recMenuItem .info .nm{
	width: 100%;
	white-space:nowrap;
	overflow: hidden;
}