<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.matzip.rest.RestMapper">
	<insert id="insRest" parameterType="RestPARAM">
		INSERT INTO t_restaurant
		(nm, addr, lat, lng, cd_category, i_user, r_dt, m_dt)
		VALUES
		(#{nm}, #{addr}, #{lat}, #{lng}, 1, #{i_user}, now(), now())
	</insert>
	
	<insert id="insMenus" parameterType="RestRecMenuVO">
		INSERT INTO t_restaurant_menu
		(seq, i_rest, menu_pic)
		SELECT IFNULL(MAX(seq), 0) + 1, #{i_rest}, #{menu_pic}
		FROM t_restaurant_menu 
	</insert>
	
	<delete id="delRest" parameterType="RestPARAM">
		DELETE FROM t_restaurant
		WHERE i_rest = #{i_rest}
		AND i_user = #{i_user}
	</delete>
	
	<delete id="delRestRecMenu" parameterType="RestPARAM">
		DELETE A FROM t_restaurant_recommend_menu A
		INNER JOIN t_restaurant B
		ON A.i_rest = B.i_rest
		WHERE B.i_rest = #{i_rest}
		AND B.i_user = #{i_user}
		<if test="seq > 0">
			AND A.seq = #{seq}
		</if>
	</delete>
	
	<delete id="delRestMenu" parameterType="RestPARAM">
		DELETE FROM t_restaurant_menu 
		WHERE i_rest = #{i_rest}
		<if test="seq > 0">
			AND seq = #{seq}
		</if>
	</delete>
	
	<update id="updAddHits" parameterType="RestPARAM">
		UPDATE t_restaurant
		SET hits = hits + 1
		WHERE i_rest = #{i_rest}
		AND i_user != #{i_user}
	</update>
	
	<select id="selRestList" parameterType="RestPARAM" resultType="RestDMI">
		SELECT A.i_rest, A.nm, A.lat, A.lng
		<if test="i_user > 0">
			, CASE WHEN B.i_rest IS NULL THEN 0 ELSE 1 END AS is_favorite
		</if>
		FROM t_restaurant A
		<if test="i_user > 0">
			LEFT JOIN t_user_favorite B
			ON A.i_rest = B.i_rest
			AND B.i_user = #{i_user}
		</if>
		WHERE A.lat BETWEEN #{sw_lat} AND #{ne_lat}
		AND A.lng BETWEEN #{sw_lng} AND #{ne_lng} 
	</select>
	
	<select id="selRest" parameterType="RestPARAM" resultType="RestDMI">
		SELECT 
			A.i_rest, A.nm, A.lat, A.lng, A.addr, A.i_user, A.hits
			, ifnull(B.val, '') as cd_category_nm
			, C.nm as user_nm
			, ifnull(D.cnt, 0) as cnt_favorite
			, CASE WHEN E.i_rest IS NULL then 0 ELSE 1 END AS is_favorite
		FROM t_restaurant A
		LEFT JOIN c_code_d B
			ON A.cd_category = B.cd
			AND B.i_m = 1
		LEFT JOIN t_user C
			ON A.i_user = C.i_user
		LEFT JOIN (
			SELECT i_rest, COUNT(i_rest) as cnt 
			FROM t_user_favorite
			WHERE i_rest = #{i_rest}
			GROUP BY i_rest
		) D
		ON A.i_rest = D.i_rest
		LEFT JOIN t_user_favorite E
		ON A.i_rest = E.i_rest
		AND E.i_user = #{i_user}
		WHERE A.i_rest = #{i_rest}
	</select>

	<insert id="insRestRecMenu" parameterType="RestRecMenuVO">
		INSERT INTO t_restaurant_recommend_menu
		(seq, i_rest, menu_nm, menu_price, menu_pic)
		SELECT IFNULL(MAX(seq), 0) + 1, #{i_rest}, #{menu_nm}, #{menu_price}, #{menu_pic}
		FROM t_restaurant_recommend_menu
		WHERE i_rest = #{i_rest}
	</insert>
	
	<select id="selRestChkUser" resultType="Integer" parameterType="Integer">
		SELECT i_user FROM t_restaurant
		WHERE i_rest = #{i_rest}
	</select>
	
	<select id="selRestRecMenus" parameterType="RestPARAM" resultType="RestRecMenuVO">
		SELECT A.seq, A.menu_nm, A.menu_price, A.menu_pic
		FROM t_restaurant_recommend_menu A
		<if test="i_user > 0">
			INNER JOIN t_restaurant B
			ON A.i_rest = B.i_rest
			AND B.i_user = #{i_user}
		</if>
		WHERE A.i_rest = #{i_rest}
		<if test="seq > 0">
			AND A.seq = #{seq}
		</if>
	</select>
	<select id="selRestMenus" parameterType="RestPARAM" resultType="RestRecMenuVO">
		SELECT A.seq, A.menu_pic
		FROM t_restaurant_menu A
		<if test="i_user > 0">
			INNER JOIN t_restaurant B
			ON A.i_rest = B.i_rest
			AND B.i_user = #{i_user}
		</if>
		WHERE A.i_rest = #{i_rest}
		<if test="seq > 0">
			AND A.seq = #{seq}
		</if>
	</select>
	
	
</mapper>