<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.matzip.model.CommonMapper">
	<select id="selCodeList" parameterType="CodeVO" resultType="CodeVO">
		SELECT i_m, cd, val FROM c_code_d WHERE i_m = #{i_m}
	</select>
</mapper>