<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.koreait.matzip.user.model.UserVO" alias="UserVO"/>
		<typeAlias type="com.koreait.matzip.user.model.UserDMI" alias="UserDMI"/>
		<typeAlias type="com.koreait.matzip.user.model.UserPARAM" alias="UserPARAM"/>
		
		<typeAlias type="com.koreait.matzip.rest.model.RestVO" alias="RestVO"/>
		<typeAlias type="com.koreait.matzip.rest.model.RestDMI" alias="RestDMI"/>
		<typeAlias type="com.koreait.matzip.rest.model.RestPARAM" alias="RestPARAM"/>
	</typeAliases>
</configuration>